.btn {
  width: 353px;
  height: 141px;
  background-color: #ed910f;
  border-radius: 10px 0 0 10px;
  clip-path: polygon(0px 60px, 100px -30px, 1377px 100px, 20px 100px, 0 109px);
  border: 1px solid black;
}

.container {
  width: 90%;
  display: flex;
  margin: auto;
}

/*todo HOME MAIN */
.home__up_line {
  width: 100%;
  margin: 0%;
}

.home__down_line {
  width: 100%;
  margin: 0%;
  height: 70px;
  z-index: 1;
  position: absolute;
  top: 8%;
}
.slide {
  white-space: nowrap;
  font-size: 40px;
  animation: slide 13s linear infinite;
  width: 100%;
  position: absolute;
  font-family: montserrat;
  font-weight: 700;
  color: #ffff;
  top: 4.8%;
  z-index: 2;
}

.slide__bfs {
  margin-left: 10%;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.home__down_line_up {
  height: 60%;
  background-color: rgb(62, 62, 62);
}

.home__down_line_down {
  height: 40%;
  background-color: rgba(62, 62, 62, 0.629);
}

.home__up {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home__main {
  background-image: url(../../img/admin_bg.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
}

.home__main_black {
  font-family: bebas neue;
  font-size: 200px;
  font-weight: 600;
  color: #00000094;
  -webkit-text-stroke: 1px white;
  margin: 0%;
  margin-left: 2%;
}

.home__main_friday {
  font-family: bebas neue;
  font-size: 200px;
  font-weight: 600;
  color: white;
  margin: 0%;
  margin-left: 18.5%;
}

.home__main_sale {
  font-family: bebas neue;
  font-size: 150px;
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 1px black;

  margin: 0%;
  margin-left: 2%;
}

.home__main_title {
  margin-top: 9%;
  width: 50%;
}

.home__main_btn {
  height: 160px;
  width: 480px;
  margin-top: 29%;
  margin-left: 21%;
  box-shadow: 5px 9px 0px 2px rgba(0, 0, 0, 1);
}

.home__main_btn,
.home__main_btn_title:hover {
  cursor: pointer;
}

.home__main_btn_title {
  position: absolute;
  z-index: 1;
  font-size: 90px;
  right: 6%;
  top: 55%;
  color: #3d3d3d;
  font-family: bebas neue;
  font-weight: 700;
}

/*todo HOME MAIN */

/* todo CARD */
.card:hover {
  -webkit-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
}

/* .card__linked_buy::before {
  display: none;
  opacity: 0;
} */

.card,
.card__linked_buy:hover {
  cursor: pointer;
  opacity: 10;
  color: black;
  /* display: block; */
}

.home__popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.home__popular_card {
  display: flex;
  margin-top: 4%;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  border: 1px solid rgba(172, 172, 172, 0.814);
}

.card__title {
  position: absolute;
  margin: 0%;
  top: 6%;
  font-family: montserrat;
  font-size: 22px;
  color: #3d3d3ddc;
}

.home__popular_title {
  font-family: montserrat;
  color: #3d3d3ddc;
  font-size: 20px;
}

.card__linked_buy {
  display: flex;
  position: absolute;
  margin: 0%;
  font-family: montserrat;
  color: #3d3d3ddc;
  bottom: 3%;
  right: 3%;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
}

.invisible {
  display: none;
}

/* todo CARD */

/* todo BRANDS */
.brands {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10%;
}

.brands__img {
  width: 90%;
}

.brands__title {
  margin: 0%;
  font-size: 24px;
  font-family: montserrat;
  color: #3d3d3d;
  font-weight: 500;
}

/* todo BRANDS */

/* todo NEWin */
.newIn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.newIn__left {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.newIn__left_up {
  width: 100%;
  height: 615px;
  background-image: url(../../img/new_adidas.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.newIn__left_up_btn {
  margin-top: 40%;
  margin-left: 19%;
  width: 343px;
}

.newIn__left_up_btn:hover {
  cursor: pointer;
}

.newIn__left_down {
  background-image: url(../../img/new_ny90.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 474px;
}

.newIn__right {
  width: 39.5%;
}

.newIn__right_up {
  background-image: url(../../img/adidas_ny90_r.png);

  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 472px;
  background-color: #3d3d3d;
}

.newIn__right_down {
  background-image: url(../../img/adidas_ny90_rd.png);
  margin-top: 1%;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 611px;
  background-color: #3d3d3d;
}

.legend {
  position: absolute;
  bottom: 3%;
  left: 5%;
}

.eur90 {
  position: absolute;
  bottom: 3%;
  right: 15%;
}

.newIn__left_up:hover {
  -webkit-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
}

.newIn__left_down:hover {
  -webkit-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
}

.newIn__right_up:hover {
  -webkit-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
}

.newIn__right_down:hover {
  -webkit-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
}
/* todo NEWin */

/* todo LATEST */
.latest {
  width: 100%;
  height: 307px;
}

.card__img_div {
  width: 100%;
}

.card__name {
  font-size: 20px;
  font-family: montserrat;
  color: #3d3d3d;
  margin: 0%;
  font-weight: 600;
}

.card__descr {
  font-size: 18px;
  font-family: montserrat;
  color: #3d3d3d;
  font-weight: 500;
}

.card__latest {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-bottom: 100px;
}

.card__latest:hover {
  -webkit-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
}

/* todo LATEST */

/* todo ASICS */
.asics {
  margin-top: 13%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.asics__left {
  width: 44.5%;
  display: flex;
}

.asics__left:hover {
  -webkit-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
}

.asics__left__bg {
  width: 100%;
}

.asics__right {
  width: 54.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.asics__right__bg {
  width: 100%;
}

.asics__right_up {
  margin-bottom: 15px;
}

.asics__right_up:hover {
  -webkit-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
}

.asics__right_down {
  background-color: #3d3d3d;
  height: 445px;
}

.asics__right_down:hover {
  -webkit-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
}

.asics__left_descr,
.asics__left_title {
  position: absolute;
  font-family: montserrat;
  color: #3d3d3d;
  margin: 0%;
  left: 2%;
}

.asics__left_title {
  font-size: 40px;
  font-weight: 600;
  bottom: 5%;
}

.asics__left_descr {
  font-size: 22px;
  font-weight: 600;
  bottom: 13%;
}

.asics__left__btn {
  position: absolute;
  width: 280px;
  bottom: 5%;
  left: 35%;
}

.asics__left__btn:hover {
  cursor: pointer;
}

.asics__right_up_descr,
.asics__right_up_title {
  position: absolute;
  font-family: montserrat;
  color: #000000c3;
  margin: 0%;
  left: 2%;
}

.asics__right_up_descr {
  font-size: 34px;
  font-weight: 600;
  bottom: 40%;
}

.asics__right_up_title {
  font-size: 42px;
  font-weight: 600;
  bottom: 10%;
}

.asics__right_up__btn {
  position: absolute;
  bottom: 8%;
  left: 38%;
  width: 288px;
}

.asics__right_up__btn:hover {
  cursor: pointer;
}

.asics__right_down_descr,
.asics__right_down_title {
  position: absolute;
  font-family: montserrat;
  color: #ffff;
  margin: 0%;
  left: 2%;
}

.asics__right_down_descr {
  font-size: 34px;
  font-weight: 600;
  bottom: 22%;
}

.asics__right_down_title {
  font-size: 42px;
  font-weight: 600;
  bottom: 10%;
}

.asics__right_down_btn {
  position: absolute;
  bottom: 8%;
  left: 38%;
  width: 288px;
}

.asics__right_down_btn:hover {
  cursor: pointer;
}
/* todo ASICS */

/* todo kids */

.kids {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 100%;
}

.kids__list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0%;
  padding: 0%;
  margin-top: 5%;
  width: 100%;
}

.kids__list_down {
  display: flex;
}

.kids__title {
  margin: 0%;
  margin: auto;
  font-family: montserrat;
  color: #3d3d3d;
  font-weight: 500;
}
.kids__list_item {
  width: 24%;
}

.kids__list_img {
  width: 100%;
  border: 1px solid #575656ad;
  cursor: pointer;
}

.kids__list_img:hover {
  -webkit-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
}

.kids__list_title {
  font-family: montserrat;
  color: #3d3d3d;
  font-size: 18px;
  font-weight: 500;
  margin-top: 2%;
  margin-bottom: 0%;
}

.kids__list_descr {
  font-family: montserrat;
  color: #3d3d3d;
  font-size: 18px;
  font-weight: 500;
  margin-top: 2%;
}

.kids__list_price {
  font-family: montserrat;
  color: #3d3d3d;
  font-size: 28px;
  font-weight: 600;
  margin-top: 0%;
  margin-left: 30%;
}
/* todo kids */

/* todo company */
.company {
  display: flex;
  width: 92%;
  margin: auto;
  justify-content: space-between;
}

.company__left {
  display: flex;
  flex-direction: column;
}

.company__left_title {
  font-size: 160px;
  font-family: bebas neue;
  margin: 0%;
  color: #3d3d3d;
}

.company__left_p,
.company__right_p {
  margin: 0%;
  font-family: montserrat;
  font-weight: 500;
  font-size: 30px;
  color: #aaaaaa;
}

.company__right_p {
  margin-top: 4%;
}

.company__right {
  display: flex;
  flex-direction: column;
}

.company__right_img {
  width: 200px;
  margin: 0%;
  margin: auto;
}
/* todo company */
