.admin {
  display: flex;
  flex-direction: column;
}

.admin__title {
  margin: auto;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.admin__block {
  background-color: #ed910f;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  margin-top: 50px;
  padding: 4% 1%;
  border: 3px solid #3d3d3d;
}

.admin__inputs {
  width: 50%;
  height: 40px;
  margin: auto;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  font-size: 18px;
}

.admin__button {
  height: 40px;
  width: 80%;
  border-radius: 10px;
  font-size: 18px;
  margin: auto;
  border-color: #3d3d3d;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #e6e8dd;
}

.admin__button:hover {
  cursor: pointer;
  height: 45px;
  width: 85%;
  font-size: 20px;
  background-color: #c8cac091;
}

.button__div {
  width: 43%;
  height: 60px;

  display: flex;
  margin: auto;
}
