.product__card {
  width: 315px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.product__img {
  width: 315px;
  /* height: 315px; */
  border: 2px solid #d9d9d9;
}

.product__img:hover {
  -webkit-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 8px 8px 23px 5px rgba(34, 60, 80, 0.2);
}

.product__title {
  font-size: 30px;
  font-family: montserrat;
  color: #3d3d3d;
  font-weight: 500;
  margin: 0%;
}

.product__desc {
  font-family: montserrat;
  max-width: 70%;
  margin: 0%;
  font-weight: 500;
  color: #3d3d3dbe;
}

.product__price {
  font-family: montserrat;
  color: #3d3d3d;
  font-size: 35px;
  font-weight: 600;
}
