.cart{
  width: 82%;
}
.cart__titles {
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 18rem;
  display: flex;
  color: #3d3d3d;
  width: 74rem;
}

.cart__title-all {
  color: rgba(61, 61, 61, 0.9);
  font-size: 25px;
  line-height: 31px;
  font-family: "Montserrat";
  margin-left: 45.3rem;
  margin-top: 4rem;
  font-weight: 500;
  text-decoration: underline;
  width: 9rem;
}
.tableCell__btn, .tableCell__inp{
  background-color: white;
  width: 4rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #3d3d3d;
}
.cart__clean{
  font-size: 24px;
}