.navbar {
  margin: 0;
  font-family: "Montserrat";
  background-color: white;
  display: flex;
  justify-content: center;
}
.container {
  width: 90%;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.navbar__left_ul {
  width: 40vw;
  display: flex;
  justify-content: space-around;
}

.navbar__left_ul,
.navbar__right_ul {
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.navbar__li {
  list-style-type: none;
  font-size: 18px;
  font-weight: 460;
  color: #3d3d3d;
}
.navbar__li:hover {
  color: #ed910fa1;
  cursor: pointer;
}

.navbar__link {
  text-decoration: none;
}

.navbar__logo {
  width: 15rem;
  padding-top: 0;
  padding-bottom: 2rem;
}
.navbar__right_ul {
  width: 40vw;
  display: flex;
  justify-content: space-around;
}
.icons {
  vertical-align: middle;
}
.icons:hover {
  transform: scale(1.25);
}
.navbar__account {
  width: 1.5rem;
  margin-left: 0.3rem;
}
.navbar__search {
  width: 1.9em;
  margin-left: 0.3rem;
}
.navbar__favourite {
  width: 2rem;
  margin-bottom: 26px;
}
.navbar__cart {
  width: 1.8rem;
  margin-bottom: 26px;
}
.navbar__li-texts {
  display: flex;
  align-items: center;
  margin-top: -2rem;
}
