.navbar {
  margin: 0;
  font-family: "Montserrat";
  background-color: white;
  display: flex;
  justify-content: center;
}
.container {
  width: 90%;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.navbar__left_ul {
  width: 40vw;
  display: flex;
  justify-content: space-around;
}

.navbar__left_ul,
.navbar__right_ul {
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-top: 2.2rem;
}

.navbar__li {
  list-style-type: none;
  font-size: 18px;
  font-weight: 460;
  color: #3d3d3d;
}
.navbar__li:hover {
  color: #ed910fa1;
  cursor: pointer;
}

.navbar__li_a {
  text-decoration: none;
}

.navbar__link {
  text-decoration: none;
}

.navbar__logo {
  width: 19rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}
.navbar__right_ul {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  padding-top: 0.1rem;
}
.icons {
  vertical-align: middle;
}
.icons:hover {
  transform: scale(1.25);
}
.navbar__account {
  width: 1.5rem;
  margin-left: 0.3rem;
}
.navbar__search {
  width: 1.9em;
  margin-left: 0.3rem;
}
.navbar__favourite {
  width: 2rem;
  margin-top: 0.5rem;
}
.navbar__cart {
  width: 1.8rem;
  margin-top: 0.3rem;
}
.navbar__li-texts {
  display: flex;
  align-items: center;
  margin-top: -5rem;
}

.burger-menu {
  margin: 0%;
  width: 30px;
  margin-top: 3rem;
}
.burger {
  width: 30px;
}
.li__hover {
  color: "#3d3d3d";
}

.li__hover:hover {
  color: #ff9900;
}

/* adaptive */

@media (max-width: 1720px) {
  .navbar__logo {
    width: 18rem;
  }
}
@media (max-width: 1620px) {
  .navbar__logo {
    width: 16rem;
  }
}

@media (max-width: 1520px) {
  .navbar__logo {
    width: 14rem;
  }
}

@media (max-width: 1420px) {
  .navbar__logo {
    display: none;
  }
  .navbar__li_a,
  .navbar__search,
  .navbar__account {
    margin-top: 5.5rem;
  }
}
@media (max-width: 1220px) {
  .navbar__search,
  .navbar__account {
    display: none;
  }
}

@media (max-width: 1020px) {
  .navbar__left_ul {
    display: none;
  }
  .navbar__right_ul {
    width: 80vh;
  }
}

@media (max-width: 768px) {
  .navbar__left_ul {
    display: none;
  }
  .navbar__right_ul {
    width: 90vh;
  }
}
