.footer {
  margin: 0;
  font-family: "Montserrat";
  background-color: #e6e8dd;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.footer__ul {
  list-style-type: none;
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer__li {
  margin-bottom: 0.5rem;
  font-size: 25px;
  font-weight: 500;
}
.footer__li:hover {
  color: #ed910fa1;
}
.socials:hover {
  transform: scale(1.25);
}

.socials {
  width: 2rem;
  height: auto;
  margin-left: 3rem;
}
