.products__men {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.products__men_shoes {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
}

.products__men_title {
  font-family: montserrat;
  font-size: 32px;
}
